Repository pagopa/pagopa-infra, pull requests merged in 2021-11, with the labels that each got.

#55 downgrade checkout function UAT plan
  src/env/uat/terraform.tfvars
Labels: env: uat, status: applied

#62 [PCFG-87] DNS DB nodo
  src/dns_private.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/lb.tf
  src/variables.tf
Labels: env: dev, env: uat, env: prod, status: applied

#66 [IOPAY-352] review to prod
  src/README.md
  src/api/checkout/checkout_payments/v1/_base_policy.xml.tpl
  src/api/checkout/checkout_transactions/v1/_base_policy.xml.tpl
  src/appgateway.tf
  src/dns_checkout_public.tf
  src/dns_public.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/variables.tf
Labels: env: uat, env: prod, status: applied

#72 fix disable waf and lint
  src/README.md
  src/api/nodopagamenti_api/v1/activate_nm3.xml
  src/appgateway.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/variables.tf
Labels: env: dev, env: uat, status: applied

#76 [PPR-82] update ehub configuration
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
Labels: env: dev, env: uat, env: prod, status: applied
