Repository pagopa/pagopa-infra, pull requests merged in 2021-09, with the labels that each got.

#14 [PAG-710] add apim
  src/README.md
  src/api/base_policy.tpl
  src/api/base_policy.xml
  src/api/monitor/mock_policy.xml
  src/api/monitor/openapi.json.tpl
  src/apim.tf
  src/data.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/monitor.tf
  src/network.tf
  src/outputs.tf
  src/redis_cache.tf
  src/security.tf
  src/variables.tf
Labels: env: dev, env: uat, env: prod, status: applied

#15 [PAG-711] add application gateway
  src/apim.tf
  src/appgateway.tf
  src/dns_public.tf
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/network.tf
  src/redis_cache.tf
  src/security.tf
  src/variables.tf
Labels: env: dev, env: uat, env: prod, status: partially applied

#16 PAG-717 add mock ec
  src/api/mockec_api/v1/_base_policy.xml
  src/api/mockec_api/v1/_swagger.json.tpl
  src/api_product/mockec_api/_base_policy.xml
  src/apim.tf
  src/apim_mock_ec.tf
  src/env/dev/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/mock_ec.tf
  src/variables.tf
Labels: env: dev, status: applied

#18 Add iac pipeline
  .devops/code-review-pipelines.yml
  .devops/deploy-pipelines.yml
  src/.terraform.lock.hcl
  src/azure_devops_agent.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/variables.tf
Labels: env: dev, env: uat, env: prod, status: applied

#24 [PM-163] rename api webview in mng
  src/api/mockpspmng_api/v1/_base_policy.xml
  src/api/mockpspmng_api/v1/_openapi.json.tpl
  src/apim_mock_psp.tf
  src/mock_psp.tf
Labels: env: dev, status: applied

#26 temp disable redis cache apim
  src/apim.tf
  src/redis_cache.tf
  src/variables.tf
Labels: env: dev, env: uat, env: prod, status: applied
