Repository pagopa/pagopa-infra, pull requests merged in 2021-10, with the labels that each got.

#22 [PM-163] add db for mock-psp
  src/api/mockpsp_api/v1/_base_policy.xml
  src/api/mockpsp_api/v1/_openapi.json.tpl
  src/api/mockpspmng_api/v1/_base_policy.xml
  src/api/mockpspmng_api/v1/_openapi.json.tpl
  src/apim.tf
  src/apim_mock_psp.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/main.tf
  src/mock_psp.tf
  src/postgresql.tf
  src/psql/main.tf
  src/psql/psql.tf
  src/redis_cache.tf
  src/variables.tf
Labels: env: dev, status: applied

#21 [PCFG-9] api-config app service
  .gitignore
  .tflint.hcl
  src/api/apiconfig_api/v1/_base_policy.xml
  src/api/apiconfig_api/v1/_openapi.json.tpl
  src/api_config.tf
  src/api_product/apiconfig_api/_base_policy.xml
  src/apim_api_config.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/mock_psp.tf
  src/postgresql.tf
  src/variables.tf
Labels: env: dev, status: applied

#29 [PM-163] update env for mock-psp
  src/mock_psp.tf
Labels: env: dev, env: uat, status: applied

#31 [PM-163] update healthcheck for mockpsp
  src/mock_psp.tf
Labels: env: dev, status: partially applied
