Repository pagopa/pagopa-infra, pull requests merged in 2024-06, with the labels that each got.

#2091 feat: update apiconfig openapi
  src/domains/apiconfig-app/api/apiconfig_api/v1/_openapi.json.tpl
Labels: status: applied :hand:

#2102 fix: [NOD-936] API 401 Nexi
  src/domains/mock-app/04_apim_mock_psp_nexi.tf
Labels: env: dev, env: uat, status: applied :hand:

#2107 chore: Switch-UAT-API-Config-Cache-Oracle-To-Postgres
  src/core/env/uat/terraform.tfvars
Labels: status: applied :hand:

#2105 feat: Update GPD internal API
  src/domains/gps-app/api/gpd_api/v2/_openapi.json.tpl
Labels: status: applied :hand:

#2112 fix: [NOD-948] fix float fields postgres
  src/psql/nodo/liquibase/changelog/cfg-partner/3.28.0/db.changelog-20240605000000_update_float4.xml
  src/psql/nodo/liquibase/changelog/cfg-partner/db.changelog-master-3.28.0.xml
  src/psql/nodo/liquibase/changelog/cfg/3.28.0/db.changelog-20240605000000_update_float4.xml
  src/psql/nodo/liquibase/changelog/cfg/db.changelog-master-3.28.0.xml
Labels: nodo

#2118 feat: Flag payment notices
  src/domains/selfcare-common/04_app_configuration_feature.tf
  src/domains/selfcare-common/10_github_identity.tf
  src/domains/selfcare-common/README.md
Labels: status: applied :hand:, selfcare

#2145 chore: Upd lst trx IO
  src/domains/bizevents-app/api/transaction-service/v1/_openapi-jwt.json.tpl
  src/domains/bizevents-app/api/transaction-service/v1/_openapi.json.tpl
  src/domains/shared-app/api/session-wallet/v1/_fragment_policiy_chk_jwt.tpl.xml
Labels: env: dev, env: uat, status: applied :hand:

#2148 chore: Change threshold SNATConnectionCount alert
  src/core/natgateway.tf
Labels: status: applied :hand:

#2147 chore(GPD): Update OpenAPI
  src/domains/gps-app/api/gpd_api/debt-position-services/v1/_openapi.json.tpl
  src/domains/gps-app/api/gpd_api/v1/_openapi.json.tpl
  src/domains/gps-app/api/gpd_api/v2/_openapi.json.tpl
Labels: env: dev, env: uat, status: applied :hand:

#2093 fix: [NOD-942] Removed unused paaInviaRT topic
  src/domains/nodo-common/01_events.tf
  src/domains/nodo-common/02_security.tf
  src/domains/nodo-common/README.md
  src/next-core/env/dev/terraform.tfvars
Labels: env: dev, status: partially applied, wisp

#2156 chore: add secrets for wisp
  src/domains/nodo-secret/secret/weu-dev/noedit_secret_enc.json
Labels: env: dev, status: applied :hand:, wisp

#2159 chore: Add identity federations to pagopa-gpd-payments
  src/domains/gps-common/10_github_identity.tf
Labels: status: applied :hand:

#2152 chore: Generate JWT_SIGNATURE_KEY for session shared
  src/domains/shared-app/04_apim_io_wallet_session.tf
  src/domains/shared-app/README.md
  src/domains/shared-app/api/session-wallet/v1/_base_policy.xml.tpl
  src/domains/shared-app/api/session-wallet/v1/_fragment_policiy_chk_jwt.tpl.xml
  src/domains/shared-common/.terraform.lock.hcl
  src/domains/shared-common/02_security.tf
  src/domains/shared-common/README.md
Labels: env: dev, env: uat, status: applied :hand:

#1903 fix: refactored and removed old configuration for IUV Generator service [dismissione WISP]
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/domains/shared-app/04_apim_iuvgenerator.tf
  src/domains/shared-app/99_locals.tf
  src/domains/shared-app/api/iuv-generator-service/v1/_base_policy.xml
Labels: env: dev, env: uat, status: applied :hand:, wisp

#2165 feat: New secrets subdomain for shared + PDV apikey
  src/domains/shared-common/02_security.tf
  src/domains/shared-secrets/.terraform.lock.hcl
  src/domains/shared-secrets/99_locals.tf
  src/domains/shared-secrets/99_main.tf
  src/domains/shared-secrets/99_variables.tf
  src/domains/shared-secrets/README.md
  src/domains/shared-secrets/env/weu-dev/backend.ini
  src/domains/shared-secrets/env/weu-dev/backend.tfvars
  src/domains/shared-secrets/env/weu-dev/terraform.tfvars
  src/domains/shared-secrets/env/weu-prod/backend.ini
  src/domains/shared-secrets/env/weu-prod/backend.tfvars
  src/domains/shared-secrets/env/weu-prod/terraform.tfvars
  src/domains/shared-secrets/env/weu-uat/backend.ini
  src/domains/shared-secrets/env/weu-uat/backend.tfvars
  src/domains/shared-secrets/env/weu-uat/terraform.tfvars
  src/domains/shared-secrets/key_secret.tf
  src/domains/shared-secrets/secret/weu-dev/configs.json
  src/domains/shared-secrets/secret/weu-dev/noedit_secret_enc.json
  src/domains/shared-secrets/secret/weu-dev/secret.ini
  src/domains/shared-secrets/secret/weu-prod/configs.json
  src/domains/shared-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/shared-secrets/secret/weu-prod/secret.ini
  src/domains/shared-secrets/secret/weu-uat/configs.json
  src/domains/shared-secrets/secret/weu-uat/noedit_secret_enc.json
  src/domains/shared-secrets/secret/weu-uat/secret.ini
  src/domains/shared-secrets/sops.sh
  src/domains/shared-secrets/terraform.sh
  src/domains/shared-secrets/terrasops.sh
Labels: status: applied :hand:

#2172 fix: introducing api-config subkey to printit
  src/domains/printit-app/00_data.tf
  src/domains/printit-app/05_subkey.tf
  src/domains/printit-app/06_keyvault.tf
  src/domains/printit-app/README.md
Labels: env: dev, env: uat, status: applied :hand:, printit

#2097 feat: add logo container
  src/domains/printit-common/03_storage_account_institutions.tf
Labels: env: dev, env: uat, status: applied :hand:, printit

#2122 chore: [PAGOPA-1814] Global index tables
  .devops/nodo-db-schema-pipelines.yml
  src/psql/nodo/liquibase/changelog/offline/3.26.0/db.changelog-20240610000000_global_index.xml
  src/psql/nodo/liquibase/changelog/offline/db.changelog-master-3.26.0.xml
  src/psql/nodo/liquibase/changelog/online/3.26.0/db.changelog-20240610000000_global_index.xml
  src/psql/nodo/liquibase/changelog/online/db.changelog-master-3.26.0.xml
  src/psql/nodo/liquibase/changelog/wfesp/3.26.0/db.changelog-20240610000000_global_index.xml
Labels: nodo

#2167 chore: [PAGOPA-1855] close payment policy for WISP
  src/core/api/nodopagamenti_api/wisp/wisp-closepayment-outbound.xml
  src/core/api/nodopagamenti_api/wisp/wisp-closepayment.xml
  src/core/apim_nodo_services_auth_02_product_wisp.tf
  src/domains/nodo-app/04_apim_nodo_services_ndp.tf
  src/domains/nodo-app/04_apim_wisp_dismantling_policies.tf
  src/domains/nodo-app/api/nodopagamenti_api/wisp/wisp-closepayment-outbound.xml
  src/domains/nodo-app/api/nodopagamenti_api/wisp/wisp-closepayment.xml
  src/domains/nodo-app/api/nodopagamenti_api/wisp/wisp-disable-payment-token-timer.xml
  src/domains/nodo-app/api/nodopagamenti_api/wisp/wisp-receipt-ko.xml
Labels: wisp

#2188 feat: Add wallet session-4IO apim-v1&v2
  src/domains/bizevents-app/04_apim_bizevents.tf
  src/domains/bizevents-app/99_locals.tf
  src/domains/bizevents-app/README.md
  src/domains/bizevents-common/01_events.tf
  src/domains/bizevents-common/02_security.tf
  src/domains/bizevents-common/99_locals.tf
  src/domains/bizevents-common/README.md
  src/domains/shared-app/01_app_service_pdf_engine_ha.tf
  src/domains/shared-app/04_apim_io_wallet_session_apim_v2.tf
  src/domains/shared-app/99_locals.tf
  src/domains/shared-app/99_variables.tf
  src/domains/shared-app/README.md
  src/domains/shared-app/env/weu-prod/terraform.tfvars
Labels: status: applied :hand:

#2191 chore: [PAGOPA-1878] paSendRTV2 outbound policy for WISP dismantling
  src/domains/gps-app/04_apim_gpd_payments.tf
  src/domains/gps-app/99_variables.tf
  src/domains/gps-app/api/payments-service/v1/soap/wisp-paSendRTV2.xml
  src/domains/gps-app/env/weu-dev/terraform.tfvars
  src/domains/nodo-app/api/nodopagamenti_api/wisp/wisp-receipt-ko.xml
Labels: wisp

#2125 feat(dismissione-wisp): Add nodo-servicebus [NOD-944] -> [PAGOPA-1835]
  src/aks-platform/01_network.tf
  src/domains/nodo-common/.terraform.lock.hcl
  src/domains/nodo-common/01_network.tf
  src/domains/nodo-common/02_security.tf
  src/domains/nodo-common/03_cosmosdb_nodo_re.tf
  src/domains/nodo-common/03_cosmosdb_nodo_verifyko.tf
  src/domains/nodo-common/03_cosmosdb_standin.tf
  src/domains/nodo-common/03_cosmosdb_wisp_converter.tf
  src/domains/nodo-common/03_postgresql.tf
  src/domains/nodo-common/03_postgresql_replica.tf
  src/domains/nodo-common/03_storage_account_nodo_cfg_sync.tf
  src/domains/nodo-common/03_storage_account_nodo_re.tf
  src/domains/nodo-common/03_storage_account_nodo_storico.tf
  src/domains/nodo-common/03_storage_account_nodo_verifyko.tf
  src/domains/nodo-common/03_storage_account_wisp_converter.tf
  src/domains/nodo-common/06_service_bus_wisp_converter.tf
  src/domains/nodo-common/07_sftp.tf
  src/domains/nodo-common/10_github_identity.tf
  src/domains/nodo-common/99_locals.tf
  src/domains/nodo-common/99_main.tf
  src/domains/nodo-common/99_variables.tf
  src/domains/nodo-common/README.md
  src/domains/nodo-common/env/weu-dev/terraform.tfvars
  src/domains/nodo-common/env/weu-prod/terraform.tfvars
  src/domains/nodo-common/env/weu-uat/terraform.tfvars
  src/domains/nodo-common/sftp/Inbox/.test
  src/domains/nodo-common/sftp/output/.test
  src/domains/nodo-secret/secret/weu-dev/noedit_secret_enc.json
  src/next-core/00_network.tf
  src/next-core/README.md
Labels: status: applied :hand:, wisp

#2219 chore: [NODO] Lightbend secret
  src/domains/nodo-secret/secret/weu-dev/noedit_secret_enc.json
  src/domains/nodo-secret/secret/weu-prod/noedit_secret_enc.json
  src/domains/nodo-secret/secret/weu-uat/noedit_secret_enc.json
Labels: env: dev, env: uat, env: prod, status: applied :hand:, nodo

#2220 chore: [WISP] Secret UAT
  src/domains/nodo-secret/secret/weu-uat/noedit_secret_enc.json
Labels: env: uat, status: applied :hand:

#2221 feat(WISP): Add cosmos containers [PAGOPA-1870]
  src/domains/nodo-common/.terraform.lock.hcl
  src/domains/nodo-common/01_network.tf
  src/domains/nodo-common/02_security.tf
  src/domains/nodo-common/03_cosmosdb_wisp_converter.tf
  src/domains/nodo-common/03_storage_account_wisp_converter.tf
  src/domains/nodo-common/99_variables.tf
  src/domains/nodo-common/README.md
  src/domains/nodo-common/env/weu-dev/terraform.tfvars
  src/domains/nodo-common/env/weu-prod/terraform.tfvars
  src/domains/nodo-common/env/weu-uat/terraform.tfvars
Labels: env: dev, env: uat, status: applied :hand:
