Repository pagopa/pagopa-infra, pull requests merged in 2025-09, with the labels that each got.

#3315 chore: [PAGOPPA-32-16] GH Printit
  src/domains/printit-app/.terraform.lock.hcl
  src/domains/printit-app/07_gh_runner.tf
  src/domains/printit-app/99_main.tf
  src/domains/printit-app/README.md
Labels: status: applied :hand:, printit

#3306 fix: [PIDM-890] update payopts mock
  src/domains/payopt-app/api/payment-options-mock/_get_payment_options_dev_policy.xml
  src/domains/payopt-app/api/payment-options-mock/_get_payment_options_uat_policy.xml
  src/domains/payopt-app/api/payment-options-mock/_openapi.json.tpl
Labels: env: dev, env: uat, status: applied :hand:

#3316 chore: [PAGOPA-3216] GH Qi
  src/domains/qi-app/.terraform.lock.hcl
  src/domains/qi-app/07_gh_runner.tf
  src/domains/qi-app/99_main.tf
  src/domains/qi-app/README.md
Labels: status: applied :hand:

#3308 chore: Remove unused resources GPD-Reporting
  src/domains/gps-app/00_alert_gpd_authorizer.tf
  src/domains/gps-app/00_network.tf
  src/domains/gps-app/02_security.tf
  src/domains/gps-app/04_apim_reporting_enrollment.tf
  src/domains/gps-app/05_gpd_reporting_functions.tf
  src/domains/gps-app/07_gh_runner.tf
  src/domains/gps-app/99_variables.tf
  src/domains/gps-app/README.md
  src/domains/gps-app/api/gpd-reporting-orgs-enrollment-service/v1/_base_policy.xml
  src/domains/gps-app/api/gpd-reporting-orgs-enrollment-service/v1/_openapi.json.tpl
  src/domains/gps-app/api_product/gpd-reporting-orgs-enrollment-service/_base_policy.xml
  src/domains/gps-app/env/weu-dev/terraform.tfvars
  src/domains/gps-app/env/weu-prod/terraform.tfvars
  src/domains/gps-app/env/weu-uat/terraform.tfvars
  src/domains/gps-common/01_resource_group.tf
  src/domains/gps-common/02_security.tf
  src/domains/gps-common/03_gpd_reporting_storage_account.tf
  src/domains/gps-common/03_postgresql_replica.tf
  src/domains/gps-common/10_github_identity.tf
  src/domains/gps-common/README.md
  src/synthetic-monitoring/monitoring_configuration.json.tpl
Labels: status: applied :hand:

#3274 BUG:[PIDM-858] - chk according SANP
  src/domains/aca-app/api/aca-gpd-like/v1/_openapi.json.tpl
  src/domains/gps-app/api/gpd_api/debt-position-services/v1/_openapi.json.tpl
  src/domains/gps-app/api/gpd_api/debt-position-services/v2/_openapi.json.tpl
  src/domains/gps-app/api/gpd_api/debt-position-services/v3/_openapi.json.tpl
  src/domains/gps-app/api/gpd_api/v1/_openapi.json.tpl
  src/domains/gps-app/api/gpd_api/v2/_openapi.json.tpl
Labels: status: applied :hand:, gpd, aca

#3320 feat: Upd drift grant `adgroup_dataexp_reader`
  src/domains/observability/01_observability.tf
  src/domains/observability/README.md
Labels: status: applied :hand:

#3327 chore: [PAGOPA-3216] GH ebollo
  src/domains/ebollo-app/07_gh_runner.tf
  src/domains/ebollo-app/99_main.tf
  src/domains/ebollo-secrets/secret/itn-dev/noedit_secret_enc.json
  src/domains/ebollo-secrets/secret/itn-prod/noedit_secret_enc.json
  src/domains/ebollo-secrets/secret/itn-uat/noedit_secret_enc.json
Labels: status: applied :hand:, ebollo

#3328 chore: [PIDM-875] update df pipelines trigger
  src/domains/observability/04_datafactory_pipeline_smo.tf
  src/domains/observability/datafactory/pipelines/PDND_KPI_TPNP.json
Labels: status: applied :hand:, qi-observability

#3332 chore: [PAGOPA-3216] Added slack secrets
  src/domains/gps-secret/secret/weu-dev/noedit_secret_enc.json
  src/domains/gps-secret/secret/weu-prod/noedit_secret_enc.json
  src/domains/gps-secret/secret/weu-uat/noedit_secret_enc.json
  src/domains/payopt-secrets/secret/itn-dev/noedit_secret_enc.json
  src/domains/payopt-secrets/secret/itn-prod/noedit_secret_enc.json
  src/domains/payopt-secrets/secret/itn-uat/noedit_secret_enc.json
  src/domains/printit-secrets/secret/itn-dev/noedit_secret_enc.json
  src/domains/printit-secrets/secret/itn-prod/noedit_secret_enc.json
  src/domains/printit-secrets/secret/itn-uat/noedit_secret_enc.json
  src/domains/qi-secrets/secret/weu-dev/noedit_secret_enc.json
  src/domains/qi-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/qi-secrets/secret/weu-uat/noedit_secret_enc.json
  src/domains/receipts-secrets/secret/weu-dev/noedit_secret_enc.json
  src/domains/receipts-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/receipts-secrets/secret/weu-uat/noedit_secret_enc.json
  src/domains/shared-secrets/secret/weu-dev/noedit_secret_enc.json
  src/domains/shared-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/shared-secrets/secret/weu-uat/noedit_secret_enc.json
Labels: status: applied :hand:

#3344 chore: [PAGOPA-3216] Secrets for alert slack channel
  src/domains/afm-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/apiconfig-secret/secret/weu-prod/noedit_secret_enc.json
  src/domains/bizevents-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/ebollo-secrets/secret/itn-prod/noedit_secret_enc.json
  src/domains/fdr-secret/secret/weu-prod/noedit_secret_enc.json
  src/domains/gps-secret/secret/weu-prod/noedit_secret_enc.json
  src/domains/nodo-secret/secret/weu-dev/noedit_secret_enc.json
  src/domains/nodo-secret/secret/weu-prod/noedit_secret_enc.json
  src/domains/nodo-secret/secret/weu-uat/noedit_secret_enc.json
  src/domains/payopt-secrets/secret/itn-prod/noedit_secret_enc.json
  src/domains/printit-secrets/secret/itn-prod/noedit_secret_enc.json
  src/domains/qi-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/receipts-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/shared-secrets/secret/weu-prod/noedit_secret_enc.json
Labels: env: prod, status: applied :hand:

#3270 feat: Paymcloud opa policy
  .gitignore
  .terraform-opa
  scripts/terraform.sh
Labels: do not merge

#3356 chore: [PAGOPA-3216] GH payopt
  src/domains/payopt-app/07_gh_runner.tf
  src/domains/payopt-secrets/secret/itn-dev/noedit_secret_enc.json
  src/domains/payopt-secrets/secret/itn-prod/noedit_secret_enc.json
  src/domains/payopt-secrets/secret/itn-uat/noedit_secret_enc.json
Labels: status: applied :hand:, payment-option

#3342 feat: Add new value to crusc8 kv
  src/domains/cruscotto-secrets/secret/itn-dev/noedit_secret_enc.json
  src/domains/cruscotto-secrets/secret/itn-prod/noedit_secret_enc.json
  src/domains/cruscotto-secrets/secret/itn-uat/noedit_secret_enc.json
  src/domains/observability/02_security.tf
  src/domains/observability/04_datafactory_linkedservice.tf
  src/domains/observability/99_locals.tf
  src/domains/observability/README.md
Labels: env: dev

#3301 chore: [PAGOPA-2800] FDR alert
  src/domains/fdr-app/00_alert_fdr_json_to_xml.tf
  src/domains/fdr-app/00_alert_fdr_to_eventhub.tf
  src/domains/fdr-app/00_alert_fdr_xml_to_json.tf
  src/domains/fdr-app/02_function.tf
  src/domains/fdr-app/99_variables.tf
  src/domains/fdr-app/README.md
  src/domains/fdr-app/env/weu-dev/terraform.tfvars
  src/domains/fdr-app/env/weu-prod/terraform.tfvars
  src/domains/fdr-app/env/weu-uat/terraform.tfvars
Labels: env: dev, env: uat, env: prod, status: applied :hand:, fdr

#3346 chore: add alert gpd reporting PAGOPA-3256
  src/domains/gps-app/00_alert_gpd_reporting.tf
  src/domains/gps-app/README.md
Labels: env: prod, status: applied :hand:, gpd

#3372 chore: [PAGOPA-3304] Fix liquibase Nodo
  .devops/nodo-db-migration-pipelines.yml
  src/psql/nodo/liquibase/changelog/online/3.36.1/db.changelog-2025070416310000_alter_table.xml
  src/psql/nodo/liquibase/changelog_pagopa/online/1.0.0/db.changelog-2025092412000000_grant.xml
  src/psql/nodo/liquibase/changelog_pagopa/online/1.0.0/sql/offline_grant.sql
  src/psql/nodo/liquibase/changelog_pagopa/online/db.changelog-master-1.0.0.xml
Labels: env: dev, env: uat, env: prod, status: applied

#3367 chore: [PAGOPA-3172] Housekeeping `nodo-cfg-data-migration` references
  src/domains/nodo-app/04_apim_nodo_datamigration.tf
  src/domains/nodo-app/07_gh_runner.tf
  src/domains/nodo-app/99_locals.tf
  src/domains/nodo-app/README.md
  src/domains/nodo-app/api/nodo-datamigration/v1/_base_policy.xml
  src/domains/nodo-app/api/nodo-datamigration/v1/_openapi.json.tpl
  src/domains/nodo-app/env/weu-prod/terraform.tfvars
  src/domains/nodo-common/10_github_identity.tf
Labels: env: dev, env: uat, env: prod, status: applied :hand:, nodo

#3364 feat: add AzurePostgreSql linked service
  src/domains/observability/04_datafactory_dataset.tf
  src/domains/observability/04_datafactory_linkedservice.tf
  src/domains/observability/99_locals.tf
  src/domains/observability/datafactory/datasets/crusc8/CRUSC8_PAYMENT_RECEIPT.json
  src/domains/observability/datafactory/datasets/crusc8/CRUSC8_RECORDED_TIMEOUT.json
  src/domains/observability/datafactory/datasets/crusc8/CRUSC8_TAXONOMY_AGGREGATE_POSITION.json
Labels: status: applied :hand:

#3383 chore: Upd fdr3 alert availability link 2 runbook
  src/domains/fdr-app/00_alert_fdr_fase3.tf
Labels: status: applied :hand:
