Repository pagopa/pagopa-infra, pull requests merged in 2025-02, with the labels that each got.

#2761 feat: Add identity to fdr-evh
  src/domains/fdr-app/07_gh_runner.tf
  src/domains/fdr-common/10_github_identity.tf
Labels: status: applied :hand:

#2764 feat: Add spica 2 azuread_application-selfcare
  src/domains/selfcare-common/00_azuread.tf
Labels: status: applied :hand:

#2750 chore: refactoring fdr storage accounts PAGOPA-2599
  src/domains/afm-common/README.md
  src/domains/fdr-common/02_security.tf
  src/domains/fdr-common/03_cosmos_mongodb_fdr_re.tf
  src/domains/fdr-common/03_storage_account_fdr.tf
  src/domains/fdr-common/03_storage_account_fdr_history.tf
  src/domains/fdr-common/03_storage_account_fdr_re.tf
  src/domains/fdr-common/README.md
Labels: env: dev, env: uat, status: applied :hand:, fdr

#2756 chore: deleting json to xml fn PAGOPA-2603
  src/domains/fdr-app/00_alert_fdr_jsontoxml.tf
  src/domains/fdr-app/04_apim_fdr_json_to_xml.tf
  src/domains/fdr-app/05_fdr_json_to_xml_fn.tf
  src/domains/fdr-app/05_fdr_re_fn.tf
  src/domains/fdr-app/05_fdr_xml_to_json_fn.tf
Labels: env: dev, env: uat, env: prod, status: applied :hand:, fdr

#2767 fix: Status Page PDF Engine
  src/domains/selfcare-common/00_azuread.tf
  src/domains/selfcare-common/04_app_configuration_feature.tf
  src/domains/selfcare-common/README.md
  src/domains/shared-app/04_apim_statuspage.tf
  src/domains/shared-app/README.md
Labels: status: applied :hand:

#2770 feat: [PQ-346] gpd-subkey-creation
  src/domains/gps-app/00_data.tf
  src/domains/gps-app/02_security.tf
  src/domains/gps-app/05_subkey.tf
Labels: qa-integration-testing

#2768 feat: [PAGOPA-2625] Defining FdR-Fase3 PostgreSQL infra and all related pipelines
  .devops/fdr-fase3-db-migration-pipelines.yml
  .devops/fdr-fase3-db-schema-pipelines.yml
  src/domains/fdr-common/03_postgresql.tf
  src/domains/fdr-common/README.md
  src/domains/fdr-secret/secret/weu-dev/noedit_secret_enc.json
  src/domains/fdr-secret/secret/weu-uat/noedit_secret_enc.json
  src/psql/fdr/liquibase/changelog/fdr3/0/db.changelog-0.xml
  src/psql/fdr/liquibase/changelog/fdr3/db.changelog-master-0.xml
  src/psql/fdr/liquibase/changelog/fdr3/db.changelog-master-1.0.0.xml
Labels: env: dev, env: uat, status: applied :hand:, fdr

#2775 chore: [PAGOPA-2644] Moving `pagopa-fdr`'s API infrastructure in repository
  src/domains/fdr-app/04_apim_fdr_fase3.tf
  src/domains/fdr-app/README.md
  src/domains/fdr-app/api/fdr-service-internal/v1/_base_policy.xml.tpl
  src/domains/fdr-app/api/fdr-service-internal/v1/_openapi.json.tpl
  src/domains/fdr-app/api/fdr-service/org/v1/_base_policy.xml.tpl
  src/domains/fdr-app/api/fdr-service/org/v1/_openapi.json.tpl
  src/domains/fdr-app/api/fdr-service/psp/v1/_base_policy.xml.tpl
  src/domains/fdr-app/api/fdr-service/psp/v1/_openapi.json.tpl
Labels: status: applied :hand:, fdr

#2776 chore: [PAGOPA-2631] Fix index DB FdR
  .devops/fdr-db-migration-pipelines.yml
  src/psql/fdr/liquibase/changelog/fdr/1.0.1/db.changelog-20250207000000_fix-varchar.xml
  src/psql/fdr/liquibase/changelog/fdr/db.changelog-master-1.0.1.xml
  src/psql/fdr/liquibase/run.sh
Labels: env: dev, env: uat, status: applied :hand:, fdr

#2781 feat: [PAGOPA-2647] defining response caching for `nodoChiediElencoFlussiRendicontazione` primitive
  src/domains/fdr-app/00_data.tf
  src/domains/fdr-app/04_apim_aux.tf
  src/domains/fdr-app/04_apim_fdr_fase1.tf
  src/domains/fdr-app/04_apim_fdr_fase1_auth.tf
  src/domains/fdr-app/99_variables.tf
  src/domains/fdr-app/README.md
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa_nodoChiediElencoFlussiRendicontazione.xml.tpl
  src/domains/fdr-app/env/weu-dev/terraform.tfvars
  src/domains/fdr-app/env/weu-prod/terraform.tfvars
  src/domains/fdr-app/env/weu-uat/terraform.tfvars
  src/domains/fdr-common/03_storage_account_fdr.tf
  src/domains/fdr-common/99_variables.tf
  src/domains/fdr-common/README.md
Labels: env: dev, fdr

#2788 fix: [PIDM-167] Added missing permissions for receipt GHA identity
  src/domains/receipts-common/10_github_identity.tf
  src/domains/receipts-common/env/weu-prod/terraform.tfvars
Labels: status: applied :hand:

#2763 chore(routing-policy): [CHK-3671] improve ecommerce routing policies performance
  src/domains/ecommerce-app/api/ecommerce-checkout/v1/_base_policy.xml.tpl
  src/domains/ecommerce-app/api/ecommerce-checkout/v2/_base_policy.xml.tpl
  src/domains/ecommerce-app/api/ecommerce-io/v2/_base_policy.xml.tpl
Labels: under testing

#2765 chore(fdr): [PAGOPA-2611] Add opex
  src/domains/fdr-app/00_monitor.tf
  src/domains/fdr-app/README.md
  src/domains/fdr-app/dashboard/dash-fdr-soap.tpl
  src/elk-monitoring/05_elastic_stack.tf
  src/elk-monitoring/05_kibana_dashboard_pagopafdr.tf
  src/elk-monitoring/05_kibana_log_pagopafdr.tf
  src/elk-monitoring/README.md
  src/elk-monitoring/env/weu-dev/terraform.tfvars
  src/elk-monitoring/pagopa/fdr/component@custom.json
  src/elk-monitoring/pagopa/fdr/data-view.json
  src/elk-monitoring/pagopa/fdr/ilm-policy.json
  src/elk-monitoring/pagopa/fdr/index-template.json
  src/elk-monitoring/pagopa/fdr/ingest-pipeline.json
  src/elk-monitoring/pagopa/fdr/space.json
Labels: status: partially applied, status: applied :hand:, fdr

#2792 [PAGOPA-2663] chore: Migrate FDR db pipelines and changelogs to pagopa-fdr-nodo-dei-pagamenti
  .devops/fdr-db-migration-pipelines.yml
  .devops/fdr-db-schema-pipelines.yml
  src/psql/fdr/liquibase/changelog/fdr/0/db.changelog-0.xml
  src/psql/fdr/liquibase/changelog/fdr/1.0.1/db.changelog-20250207000000_fix-varchar.xml
  src/psql/fdr/liquibase/changelog/fdr/db.changelog-master-0.xml
  src/psql/fdr/liquibase/changelog/fdr/db.changelog-master-1.0.0.xml
  src/psql/fdr/liquibase/changelog/fdr/db.changelog-master-1.0.1.xml
Labels: status: needs review, fdr

#2766 chore: [PAGOPA-2626] Decoupler: logic for FdR SOAP requests
  .gitignore
  src/domains/fdr-app/00_data.tf
  src/domains/fdr-app/00_monitor.tf
  src/domains/fdr-app/00_network.tf
  src/domains/fdr-app/04_apim_aux.tf
  src/domains/fdr-app/04_apim_fdr_fase1.tf
  src/domains/fdr-app/04_apim_fdr_fase1_auth.tf
  src/domains/fdr-app/04_apim_fdr_fase3.tf
  src/domains/fdr-app/99_variables.tf
  src/domains/fdr-app/README.md
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa.xml.tpl
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa_nodoChiediElencoFlussiRendicontazione.xml.tpl
  src/domains/fdr-app/api/fdr-fase1/nodoPerPsp/v1/fdr_nodoinvia_flussorendicontazione_flow.xml
  src/domains/fdr-app/dashboard/dashboard-apim-fdr.tpl
  src/domains/fdr-app/env/weu-dev/terraform.tfvars
  src/domains/fdr-app/env/weu-prod/terraform.tfvars
  src/domains/fdr-app/env/weu-uat/terraform.tfvars
  src/domains/fdr-common/.terraform.lock.hcl
  src/domains/fdr-common/02_security.tf
  src/domains/fdr-common/03_cosmos_mongodb_fdr.tf
  src/domains/fdr-common/03_storage_account_fdr.tf
  src/domains/fdr-common/99_variables.tf
  src/domains/fdr-common/README.md
  src/domains/fdr-common/env/weu-uat/terraform.tfvars
  src/domains/fdr-secret/secret/weu-prod/noedit_secret_enc.json
Labels: status: applied :hand:, fdr

#2793 feat: Upd fdr1 secrets
  src/domains/fdr-secret/02_azdo.tf
  src/domains/fdr-secret/secret/weu-dev/noedit_secret_enc.json
  src/domains/fdr-secret/secret/weu-prod/noedit_secret_enc.json
  src/domains/fdr-secret/secret/weu-uat/noedit_secret_enc.json
Labels: status: applied :hand:

#2794 ferat: Enable Prod fdr-org to pagoPA
  src/domains/fdr-app/00_monitor.tf
  src/domains/fdr-app/env/weu-prod/terraform.tfvars
Labels: status: applied :hand:

#2749 feat: [PQ-137] observability bdi kpi infrastructure
  src/domains/qi-app/.terraform.lock.hcl
  src/domains/qi-app/01_adx.tf
  src/domains/qi-app/04_apim_qi_observability_bdi.tf
  src/domains/qi-app/07_gh_runner.tf
  src/domains/qi-app/99_main.tf
  src/domains/qi-app/99_variables.tf
  src/domains/qi-app/api/qi-observability-perf-kpi/v1/_base_policy.xml.tpl
  src/domains/qi-app/api/qi-observability-perf-kpi/v1/_openapi.yaml.tpl
  src/domains/qi-app/env/weu-dev/terraform.tfvars
  src/domains/qi-app/env/weu-prod/terraform.tfvars
  src/domains/qi-app/env/weu-uat/terraform.tfvars
  src/domains/qi-app/scripts/create_table_observ_bdi.dexp
  src/domains/qi-common/01_network.tf
  src/domains/qi-common/02_security.tf
  src/domains/qi-common/06_evh_qi.tf
  src/domains/qi-common/10_github_identity.tf
  src/domains/qi-common/99_locals.tf
  src/domains/qi-common/99_variables.tf
  src/domains/qi-common/env/weu-dev/terraform.tfvars
  src/domains/qi-common/env/weu-prod/backend.tfvars
  src/domains/qi-common/env/weu-prod/terraform.tfvars
  src/domains/qi-common/env/weu-uat/terraform.tfvars
  src/domains/qi-secrets/secret/weu-dev/noedit_secret_enc.json
  src/domains/qi-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/qi-secrets/secret/weu-uat/noedit_secret_enc.json
Labels: status: applied :hand:, qi-observability

#2805 fix: [PQ-317] fix openapi for perf-data endpoint
  src/domains/qi-app/api/qi-observability-perf-kpi/v1/_openapi.yaml.tpl
  src/domains/qi-secrets/secret/weu-prod/noedit_secret_enc.json
  src/domains/qi-secrets/secret/weu-uat/noedit_secret_enc.json
Labels: status: applied :hand:, qi-observability

#2807 fix(fdr): PIDM-191 Add is-ftp-enabled filter
  src/domains/fdr-app/00_monitor.tf
  src/domains/fdr-app/04_apim_fdr_fase1.tf
  src/domains/fdr-app/04_apim_fdr_fase1_auth.tf
  src/domains/fdr-app/10_aks_middleware_tools.tf
  src/domains/fdr-app/99_variables.tf
  src/domains/fdr-app/README.md
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa.xml.tpl
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa_nodoChiediFlussoRendicontazione.xml.tpl
  src/domains/fdr-app/dashboard/dashboard-apim-fdr.tpl
  src/domains/fdr-app/env/weu-prod/terraform.tfvars
  src/domains/fdr-app/env/weu-uat/terraform.tfvars
Labels: env: dev, env: uat, status: applied :hand:, fdr

#2801 feat: [PAGOPA-2670] Implement send request to FDR's registerFdrForValidation for invioFlussi policy
  src/domains/fdr-app/api/fdr-fase1/nodoPerPsp/v1/fdr_nodoinvia_flussorendicontazione_flow.xml
Labels: env: dev, status: applied :hand:, status: needs review, fdr

#2799 feat: [PAGOPA-2673] Add api policy namedValue flag to FDR1 for nodoChiediElenco cache
  src/domains/fdr-app/04_apim_aux.tf
  src/domains/fdr-app/99_variables.tf
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa_nodoChiediElencoFlussiRendicontazione.xml.tpl
  src/domains/fdr-app/env/weu-dev/terraform.tfvars
  src/domains/fdr-app/env/weu-prod/terraform.tfvars
  src/domains/fdr-app/env/weu-uat/terraform.tfvars
Labels: env: dev, status: applied :hand:, status: needs review, fdr

#2813 chore: [PAGOPA-2628] Release nodoInviaFlusso and fix nodoChiediFlusso FTP
  src/domains/fdr-app/00_alert_fdr_fase1.tf
  src/domains/fdr-app/00_monitor.tf
  src/domains/fdr-app/04_apim_aux.tf
  src/domains/fdr-app/04_apim_fdr_fase1.tf
  src/domains/fdr-app/04_apim_fdr_fase1_auth.tf
  src/domains/fdr-app/10_aks_middleware_tools.tf
  src/domains/fdr-app/99_variables.tf
  src/domains/fdr-app/README.md
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa.xml.tpl
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa_nodoChiediElencoFlussiRendicontazione.xml.tpl
  src/domains/fdr-app/api/fdr-fase1/nodoPerPa/v1/fdr_pagopa_nodoChiediFlussoRendicontazione.xml.tpl
  src/domains/fdr-app/api/fdr-fase1/nodoPerPsp/v1/fdr_nodoinvia_flussorendicontazione_flow.xml
  src/domains/fdr-app/dashboard/dashboard-apim-fdr.tpl
  src/domains/fdr-app/env/weu-dev/terraform.tfvars
  src/domains/fdr-app/env/weu-prod/terraform.tfvars
  src/domains/fdr-app/env/weu-uat/terraform.tfvars
  src/domains/shared-app/04_apim_statuspage.tf
  src/synthetic-monitoring/monitoring_configuration.json.tpl
Labels: status: applied :hand:, fdr

#2825 feat: Add RBAC rules for Kubernetes and OpenTelemetry Management
  src/aks-leonardo/04_rbac.tf
  src/aks-platform/04_rbac.tf
Labels: status: applied

#2815 chore: [PAGOPA-2628] Attivazione FdR-1 nodoInviaFlussoRendicontazione - Fase 1
  src/domains/fdr-app/dashboard/dashboard-apim-fdr.tpl
  src/domains/fdr-app/env/weu-prod/terraform.tfvars
Labels: env: prod, status: applied :hand:, fdr

#2832 opex(fdr): PAGOPA-2703 Add dashboard and alert action
  src/domains/fdr-app/dashboard/dashboard-apim-fdr.tpl
  src/domains/fdr-common/00_monitor.tf
  src/domains/fdr-common/03_postgresql.tf
  src/domains/fdr-common/99_locals.tf
  src/domains/fdr-common/README.md
Labels: status: applied :hand:, fdr

#2836 feat: Remove azurerm_storage_management_policy
  src/domains/fdr-common/03_storage_account_fdr.tf
Labels: status: applied :hand:

#2842 feat: [PAYMCLOUD-35] Update AKS module to version v8.84.1 and add new critical node alerts.
  src/aks-leonardo/03_aks_0.tf
  src/aks-leonardo/README.md
  src/aks-platform/02_aks.tf
  src/aks-platform/README.md
Labels: env: dev, env: uat, env: prod, status: applied

#2838 feat: [PAGOPA-2687] Including REST endpoints on FdR dashboard
  src/domains/fdr-app/dashboard/dashboard-apim-fdr.tpl
Labels: status: applied :hand:, fdr
